<launch>
  <param name="rowcrop_Cylinder.002_description" command="$(find xacro)/xacro --inorder '$(find agbot_description)/urdf/rowcrop_Cylinder.002.urdf.xacro'" />

  <node name="spawn_rowcrop_Cylinder.002" pkg="gazebo_ros" type="spawn_model" args="-param rowcrop_Cylinder.002_description -urdf -model rowcrop_Cylinder.002" respawn="false" />
</launch>