<launch>
  <param name="rowcrop_Small Plant.005_description" command="$(find xacro)/xacro --inorder '$(find agbot_description)/urdf/rowcrop_Small Plant.005.urdf.xacro'" />

  <node name="spawn_rowcrop_Small Plant.005" pkg="gazebo_ros" type="spawn_model" args="-param rowcrop_Small Plant.005_description -urdf -model rowcrop_Small Plant.005" respawn="false" />
</launch>