<launch>
  <param name="rowcrop_Big Plant.002_description" command="$(find xacro)/xacro --inorder '$(find agbot_description)/urdf/rowcrop_Big Plant.002.urdf.xacro'" />

  <node name="spawn_rowcrop_Big Plant.002" pkg="gazebo_ros" type="spawn_model" args="-param rowcrop_Big Plant.002_description -urdf -model rowcrop_Big Plant.002" respawn="false" />
</launch>