<launch>
  <param name="rowcrop_Small Plant_description" command="$(find xacro)/xacro --inorder '$(find agbot_description)/urdf/rowcrop_Small Plant.urdf.xacro'" />

  <node name="spawn_rowcrop_Small Plant" pkg="gazebo_ros" type="spawn_model" args="-param rowcrop_Small Plant_description -urdf -model rowcrop_Small Plant" respawn="false" />
</launch>