<launch>
  <param name="rowcrop_Small Plant.003_description" command="$(find xacro)/xacro --inorder '$(find agbot_description)/urdf/rowcrop_Small Plant.003.urdf.xacro'" />

  <node name="spawn_rowcrop_Small Plant.003" pkg="gazebo_ros" type="spawn_model" args="-param rowcrop_Small Plant.003_description -urdf -model rowcrop_Small Plant.003" respawn="false" />
</launch>