<launch>
  <param name="rowcrop_Cylinder.004_description" command="$(find xacro)/xacro --inorder '$(find agbot_description)/urdf/rowcrop_Cylinder.004.urdf.xacro'" />

  <node name="spawn_rowcrop_Cylinder.004" pkg="gazebo_ros" type="spawn_model" args="-param rowcrop_Cylinder.004_description -urdf -model rowcrop_Cylinder.004" respawn="false" />
</launch>