<launch>
  <param name="rowcrop_Small Plant.001_description" command="$(find xacro)/xacro --inorder '$(find agbot_description)/urdf/rowcrop_Small Plant.001.urdf.xacro'" />

  <node name="spawn_rowcrop_Small Plant.001" pkg="gazebo_ros" type="spawn_model" args="-param rowcrop_Small Plant.001_description -urdf -model rowcrop_Small Plant.001" respawn="false" />
</launch>